<h1>Editing defect</h1>
 
<%= form_for :defect, url: defect_path(@defect), method: :patch do |f| %>
 

 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 

 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', defects_path %>